html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.PP-QXD {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.PP-1-QXD .auto-group-esaw-DDm {
  margin-bottom: 3rem;
  width: 100%;
  height: 16.4rem;
  position: relative;
  flex-shrink: 0;
}
.PP-1-QXD .auto-group-esaw-DDm .rectangle-45-6B5 {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-color: #d9d9d9;
}
.PP-1-QXD .auto-group-esaw-DDm .rectangle-4-z1Z {
  width: 144rem;
  height: 16.4rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #0cb3be;
}
.PP-1-QXD .auto-group-esaw-DDm .animal-shelter-1-4n7 {
  width: 25rem;
  height: 14rem;
  position: absolute;
  left: 117rem;
  top: 1rem;
  object-fit: cover;
  vertical-align: top;
}
.PP-1-QXD .auto-group-esaw-DDm .indian-lake-animal-shelter-aEf {
  width: 96.3rem;
  height: 9.4rem;
  position: absolute;
  left: 5rem;
  top: 3rem;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.1725;
  font-style: italic;
  color: rgba(245, 245, 245, 0.9499999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.PP-1-QXD .auto-group-ejiw-C19 {
  margin: 0rem 4rem 2.6rem 4rem;
  box-sizing: border-box;
  padding: 16rem 41.6rem 16.4rem 41.7rem;
  width: calc(100% - 8rem);
  row-gap: 2.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #def3f4;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.PP-1-QXD .auto-group-ejiw-C19 .auto-group-ucpk-SAP {
  box-sizing: border-box;
  padding: 2.85rem 1.1rem;
  width: 100%;
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(0, 0, 0, 0.25);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.PP-1-QXD .auto-group-ejiw-C19 .auto-group-c9zt-Erw {
  box-sizing: border-box;
  padding: 2.85rem 1.4rem 2.95rem 1.4rem;
  width: 100%;
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(0, 0, 0, 0.25);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.PP-1-QXD .auto-group-ejiw-C19 .auto-group-twq1-sf1 {
  margin: 0 10.5rem;
  width: calc(100% - 21rem);
  height: 8.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1725;
  font-style: italic;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #0cb3be;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.PP-1-QXD .rectangle-5-dXh {
  width: 100%;
  height: 16.4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #0cb3be;
  flex-shrink: 0;
}

.box1 {
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: #F5F5F5;
    z-index: 1;
    padding: 5px;
    margin: 150px;
    left: 450px;
    top: 180px;
    cursor: pointer;
 }
 .box2 {
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: #F5F5F5;
    z-index: 2;
    padding: 5px;
    margin: 10px;
    left: 590px; 
    top: 225px;
    cursor: pointer;

 }
 .box3 {
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: #F5F5F5;
    z-index: 3;
    padding: 5px;
    margin: 300px;
    left: 300px; 
    top: 125px;
    cursor: pointer;
 }

 input[type=text]{
  width:20%;
  border:2px solid #000000 ;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
  font-size: 20px;
  text-align: center;
  top:25%;
left:25%;
}