
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 9rem;
}.address-ri7 {
  height: 2.9rem;
  line-height: 1.1725;
  color: #868686;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 700;
  font-style: italic;
}
