
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 17.4rem;
}.confirm-Z6b {
  height: 5.7rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  width: 100%;
  font-style: italic;
  white-space: nowrap;
}
