
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 51.3rem;
}.customer-info-hoH {
  height: 9.4rem;
  line-height: 1.1725;
  font-style: italic;
  color: rgba(245, 245, 245, 0.9499999881);
  white-space: nowrap;
  width: 100%;
  font-size: 8rem;
  font-weight: 700;
  font-family: Roboto, 'Source Sans Pro';
}
