
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-QXD {
  width: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;

  .auto-group-esaw-DDm {
    margin-bottom: 3rem;
    width: 100%;
    height: 16.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-45-6B5 {
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 1rem;
      top: 1rem;
      background-color: #d9d9d9;
    }
    .rectangle-4-z1Z {
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #0cb3be;
      width: 144rem;
      height: 16.4rem;
      position: absolute;
      left: 0;
    }
    .animal-shelter-1-4n7 {
      object-fit: cover;
      vertical-align: top;
      width: 25rem;
      height: 14rem;
      position: absolute;
      left: 117rem;
      top: 1rem;
    }
    .indian-lake-animal-shelter-aEf {
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      height: 9.4rem;
      position: absolute;
      top: 3rem;
      font-size: 8rem;
      font-weight: 700;
      font-style: italic;
      color: rgba(245, 245, 245, 0.9499999881);
      white-space: nowrap;
      width: 96.3rem;
      left: 5rem;
    }
  }
  .auto-group-ejiw-C19 {
    row-gap: 2.9rem;
    flex-direction: column;
    background-color: #def3f4;
    margin: 0rem 4rem 2.6rem 4rem;
    box-sizing: border-box;
    padding: 16rem 41.6rem 16.4rem 41.7rem;
    width: calc(100% - 8rem);
    align-items: center;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    flex-shrink: 0;

    .auto-group-ucpk-SAP {
      display: flex;
      font-weight: 700;
      font-family: Roboto, 'Source Sans Pro';
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;
      padding: 2.85rem 1.1rem;
      color: rgba(0, 0, 0, 0.25);
      white-space: nowrap;
      border-radius: 1.1rem;
      box-sizing: border-box;
      width: 100%;
      font-size: 2.5rem;
      line-height: 1.1725;
    }
    .auto-group-c9zt-Erw {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 1.1rem;
      display: flex;
      font-size: 2.5rem;
      color: rgba(0, 0, 0, 0.25);
      white-space: nowrap;
      box-sizing: border-box;
      padding: 2.85rem 1.4rem 2.95rem 1.4rem;
      line-height: 1.1725;
      flex-shrink: 0;
      width: 100%;
      font-weight: 700;
      font-family: Roboto, 'Source Sans Pro';
    }
    .auto-group-twq1-sf1 {
      display: flex;
      line-height: 1.1725;
      white-space: nowrap;
      background-color: #0cb3be;
      border-radius: 1.1rem;
      flex-shrink: 0;
      height: 8.7rem;
      justify-content: center;
      font-weight: 700;
      font-style: italic;
      color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      margin: 0 10.5rem;
      align-items: center;
      font-size: 3rem;
      width: calc(100% - 21rem);
      font-family: Roboto, 'Source Sans Pro';
    }
  }
  .rectangle-5-dXh {
    height: 16.4rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #0cb3be;
    flex-shrink: 0;
    width: 100%;
  }
}
