
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 91.3rem;
}.enter-the-animal-intake-number-sij {
  width: 100%;
  height: 7.7rem;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 1.1725;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  font-style: italic;
  color: #000000;
}
