
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.payment-amount-paid-jeb {
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  position: relative;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;

  .auto-group-qesd-V7y {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    background-color: #0cb3be;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2rem 1rem 5rem;
    width: 100%;
    height: 16.4rem;

    .payment-bwh {
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 700;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      color: rgba(245, 245, 245, 0.9499999881);
      margin: 0rem 80.2rem 0.6rem 0rem;
      font-size: 8rem;
      font-style: italic;
    }
    .animal-shelter-1-Jr7 {
      width: 25rem;
      height: 14rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-jb1m-mzb {
    box-sizing: border-box;
    padding: 11.9rem 2.7rem 21.9rem 2.7rem;
    align-items: center;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #def3f4;
    margin: 0rem 4rem 2.6rem 4rem;
    width: calc(100% - 8rem);
    flex-direction: column;
    border-radius: 1.2rem;
    flex-shrink: 0;

    .input-amount-paid--g5y {
      margin: 0rem 102.9rem 0.9rem 0rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 700;
      font-style: italic;
    }
    .rectangle-10-mdD {
      height: 6.4rem;
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 52.3rem 7.1rem 35.5rem;
      width: calc(100% - 87.8rem);
    }
    .auto-group-cxak-HLf {
      line-height: 1.1725;
      display: flex;
      box-sizing: border-box;
      font-weight: 700;
      color: #000000;
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #def3f4;
      font-size: 3.2rem;
      font-style: italic;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 65.3rem 0rem 45.3rem;
      width: calc(100% - 110.6rem);
      height: 12.4rem;
      border: solid 0.1rem #000000;
      border-radius: 2.7rem;
    }
  }
  .rectangle-5-RrB {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #0cb3be;
    flex-shrink: 0;
    width: 100%;
    height: 16.4rem;
  }
}
