
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 120.6rem;
}.rectangle-44-NX5 {
  height: 11.1rem;
  background-color: #ffffff;
  width: 100%;
}
