
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 282.6rem;
}.row-kB5 {
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  width: 100%;

  .animal-name-to5 {
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 27.8rem;
    font-size: 3.2rem;
    font-style: italic;
    font-weight: 700;
    line-height: 1.1725;
  }
  .breed-DaT {
    margin-right: 6.4rem;
    font-size: 3.2rem;
    font-style: italic;
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .livestock-animal-MRm {
    flex-shrink: 0;
    font-weight: 700;
    font-style: italic;
    color: #000000;
    white-space: nowrap;
    margin-right: 5.9rem;
    font-size: 3.2rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
  }
  .gender-giw {
    margin-right: 6.3rem;
    font-weight: 700;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 3.2rem;
    font-style: italic;
    color: #000000;
    flex-shrink: 0;
  }
  .spayneuter-2H1 {
    font-weight: 700;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    margin-right: 6.2rem;
    font-style: italic;
    color: #000000;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 3.2rem;
  }
  .specialneeds-9cX {
    line-height: 1.1725;
    white-space: nowrap;
    font-weight: 700;
    font-size: 3.2rem;
    font-style: italic;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    flex-shrink: 0;
    margin-right: 6.1rem;
  }
  .age-ta7 {
    font-size: 3.2rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 6.5rem;
    font-style: italic;
    color: #000000;
    font-weight: 700;
  }
  .reasonforstay-Rpw {
    font-weight: 700;
    white-space: nowrap;
    line-height: 1.1725;
    font-style: italic;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    flex-shrink: 0;
    margin-right: 6.1rem;
    font-size: 3.2rem;
  }
  .arrivaldate-y5m {
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
    margin-right: 6.3rem;
    font-size: 3.2rem;
    line-height: 1.1725;
    font-style: italic;
    font-family: Roboto, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .intake-hnT {
    white-space: nowrap;
    margin-right: 6.4rem;
    font-family: Roboto, 'Source Sans Pro';
    line-height: 1.1725;
    font-style: italic;
    color: #000000;
    flex-shrink: 0;
    font-size: 3.2rem;
    font-weight: 700;
  }
  .characteristics-qdm {
    font-weight: 700;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 3.2rem;
    font-style: italic;
    color: #000000;
    margin-right: 6rem;
  }
  .euthanasia-abM {
    font-style: italic;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.1725;
  }
}
