
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 283.3rem;
}.table-SJw {
  width: 100%;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;

  .row-C3D {
    align-items: center;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    display: flex;

    .animal-name-LfD {
      font-style: italic;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.1725;
      color: #000000;
      white-space: nowrap;
      margin-right: 28.5rem;
    }
    .breed-G35 {
      font-weight: 700;
      line-height: 1.1725;
      white-space: nowrap;
      margin-right: 6.4rem;
      font-style: italic;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 3.2rem;
    }
    .livestock-animal-Bvj {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      line-height: 1.1725;
      color: #000000;
      margin-right: 5.9rem;
      font-weight: 700;
      font-style: italic;
    }
    .gender-7Jb {
      font-style: italic;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 6.3rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.1725;
      color: #000000;
      white-space: nowrap;
    }
    .spayneuter-FQo {
      font-size: 3.2rem;
      font-weight: 700;
      font-style: italic;
      color: #000000;
      white-space: nowrap;
      margin-right: 6.2rem;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.1725;
    }
    .specialneeds-PX1 {
      margin-right: 6.1rem;
      font-size: 3.2rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.1725;
      font-style: italic;
      flex-shrink: 0;
    }
    .age-6wD {
      font-size: 3.2rem;
      font-weight: 700;
      font-style: italic;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.5rem;
      line-height: 1.1725;
      color: #000000;
    }
    .reasonforstay-eC3 {
      margin-right: 6.1rem;
      font-style: italic;
      white-space: nowrap;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.1725;
      color: #000000;
    }
    .arrivaldate-abV {
      font-size: 3.2rem;
      font-weight: 700;
      font-style: italic;
      margin-right: 6.3rem;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .intake-KJB {
      margin-right: 6.4rem;
      font-size: 3.2rem;
      font-style: italic;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.1725;
      color: #000000;
      flex-shrink: 0;
    }
    .characteristics-erF {
      font-family: Roboto, 'Source Sans Pro';
      margin-right: 6rem;
      font-weight: 700;
      line-height: 1.1725;
      font-style: italic;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
    }
    .euthanasia-aV1 {
      line-height: 1.1725;
      font-style: italic;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 700;
    }
  }
  .row-WNf {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 0.1rem #000000;
    box-sizing: border-box;

    .animal-name-T31 {
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 1.1725;
      font-style: italic;
      font-family: Roboto, 'Source Sans Pro';
      margin-right: 28.5rem;
    }
    .breed-PST {
      font-style: italic;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      white-space: nowrap;
      margin-right: 6.4rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.1725;
      color: #000000;
    }
    .livestock-animal-vSP {
      margin-right: 5.9rem;
      font-size: 3.2rem;
      font-style: italic;
      font-weight: 700;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .gender-FUf {
      margin-right: 6.3rem;
      font-size: 3.2rem;
      font-style: italic;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.1725;
      flex-shrink: 0;
    }
    .spayneuter-zSF {
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      margin-right: 6.2rem;
      font-size: 3.2rem;
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 700;
      font-style: italic;
    }
    .specialneeds-8HZ {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      line-height: 1.1725;
      font-style: italic;
      margin-right: 6.1rem;
      font-weight: 700;
    }
    .age-4wu {
      margin-right: 6.5rem;
      line-height: 1.1725;
      font-style: italic;
      white-space: nowrap;
      font-size: 3.2rem;
      font-weight: 700;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .reasonforstay-DZu {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      margin-right: 6.1rem;
      font-style: italic;
      color: #000000;
    }
    .arrivaldate-Mg7 {
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.3rem;
      font-size: 3.2rem;
      font-weight: 700;
      font-style: italic;
    }
    .intake-tvw {
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.4rem;
      font-weight: 700;
      font-size: 3.2rem;
      font-style: italic;
    }
    .characteristics-Ezo {
      font-weight: 700;
      flex-shrink: 0;
      margin-right: 6rem;
      font-size: 3.2rem;
      line-height: 1.1725;
      font-style: italic;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .euthanasia-ky9 {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.1725;
      font-style: italic;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
  }
  .row-tJf {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 0.1rem #000000;

    .animal-name-qUo {
      margin-right: 28.5rem;
      font-size: 3.2rem;
      font-weight: 700;
      font-style: italic;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.1725;
      color: #000000;
      white-space: nowrap;
    }
    .breed-B2s {
      margin-right: 6.4rem;
      font-weight: 700;
      font-style: italic;
      color: #000000;
      flex-shrink: 0;
      font-size: 3.2rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .livestock-animal-ujZ {
      font-size: 3.2rem;
      line-height: 1.1725;
      white-space: nowrap;
      margin-right: 5.9rem;
      font-weight: 700;
      font-style: italic;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .gender-r91 {
      margin-right: 6.3rem;
      font-weight: 700;
      line-height: 1.1725;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-style: italic;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .spayneuter-Pej {
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 6.2rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.1725;
      font-style: italic;
      color: #000000;
      white-space: nowrap;
    }
    .specialneeds-vef {
      flex-shrink: 0;
      margin-right: 6.1rem;
      line-height: 1.1725;
      font-style: italic;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 3.2rem;
      font-weight: 700;
    }
    .age-TuV {
      font-size: 3.2rem;
      line-height: 1.1725;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.5rem;
      font-weight: 700;
      font-style: italic;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .reasonforstay-c1h {
      font-size: 3.2rem;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 6.1rem;
      font-weight: 700;
      line-height: 1.1725;
      font-style: italic;
      color: #000000;
    }
    .arrivaldate-wpf {
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 700;
      font-style: italic;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      margin-right: 6.3rem;
      font-size: 3.2rem;
      line-height: 1.1725;
    }
    .intake-5R5 {
      font-weight: 700;
      line-height: 1.1725;
      font-style: italic;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.4rem;
      font-size: 3.2rem;
      color: #000000;
    }
    .characteristics-cA7 {
      font-style: italic;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      margin-right: 6rem;
      font-weight: 700;
    }
    .euthanasia-wCP {
      font-weight: 700;
      line-height: 1.1725;
      font-style: italic;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
    }
  }
}
