
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 35.1rem;
}.rectangle-46-Rvb {
  width: 100%;
  height: 6rem;
  background-color: #ffffff;
}
